/* base.css */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@400&display=swap');

* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }

body {
  font-family: 'Hahmlet', serif;
  background: #000;
  color: #F9F5E7;
}
a { color: inherit; text-decoration: none; }
